.footer-body {
  margin-top: 20px;
  border-top: 1px solid #a8a8a8;
  .footer-main {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;

    .app-logo {
      width: 100px;
    }
    .app-logo img {
      width: 100%;
    }
    .footer-nav ul {
      list-style-type: none;
    }
    .footer-nav ul li {
      margin-bottom: 10px;
      display: inline-block;
      padding-right: 35px;
    }
    .footer-nav ul a {
      color: black;
      text-transform: uppercase;
      cursor: pointer;
    }

    .footer-social li {
      display: inline-block;
      width: 45px;
      padding: 15px;
    }
    .footer-social img {
      width: 100%;
    }
  }
}
