.pdf-to-img-container {
  width: 100%;
  height: 100vh;

  .inpt-field {
    border: 1px solid black;
    padding: 10px 32px;
  }
  button {
    padding: 14px 40px;
    background: black;
    color: white;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
